<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
  <connectionStrings>
    <add name="EntitiesBase" connectionString="metadata=res://*/Entites.ModelBase.csdl|res://*/Entites.ModelBase.ssdl|res://*/Entites.ModelBase.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=SERGE\SQLEXPRESS;initial catalog=20.101-04-authorization;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="Entities" connectionString="metadata=res://*/Entites.ModelBase1.csdl|res://*/Entites.ModelBase1.ssdl|res://*/Entites.ModelBase1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=SERGE\SQLEXPRESS;initial catalog=20.101-04-authorization;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>